<div class="section">
    <div class="section-left">

   
        <ul>
            
            <li> <a routerLink="/movies/create-movie">Create Movies</a> </li>
           
            <li> <a routerLink="/movies/search-movie">Search Movies</a></li>
        </ul>
   
    
    </div>
    <div class="section-right">
       <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Director</th>
                        <th>Approval Rating</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <ng-container *ngFor="let item of moviesList">
                        <tr>
                            <td> <a [routerLink]="['/movies/moviedetail/',item.movieid]" >{{item.title}}</a></td>
                            <td>{{item.director}}</td>
                            <td>{{item.approvalRating |percent}}</td>
                            <td>{{item.category |uppercase}}</td>
                            <td>{{item.price | currency}}</td>
                            <td [routerLink]="['/movies/edit-movie/',item.movieid]" routerLinkActive="router-link-active" ><button (click)="editMovie(item.movieid)">Edit</button></td>
                            <td><button>Delete</button></td>
                        </tr>
                    </ng-container>
                </tbody>

       </table>
       <router-outlet></router-outlet>
    </div>
</div>
