.section{
    display:grid;
    grid-template-columns: 200px 1000px;
    grid-gap:30px;
}


.section-left{

border:solid 1px black;

}

.section-right{
    border:solid 1px black;
}

 
 
 li{
    list-style: none
 }